.HomePoster {
  &_container {
    display: flex;
    background-color: #141414;
    height: 814px;
    gap: 80px;
    font-family: "Urbanist", sans-serif;
  }
  &_contain {
    width: 100%;
  }
  &_deepContent {
    width: 100%;
  }
  &_textContent {
    width: 784px;
  }
  &_circle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_circleImg {
    width: 140px;
    height: 140px;
  }
  &_heading {
    width: 100%;
    margin-top: 110px;
    font-size: 60px;
    font-family: "Urbanist", sans-serif;
    color: #ffffff;
    font-weight: 600;
    line-height: 62px;
    text-align: left;
  }
  &_paragraph {
    width: 758px;

    color: #999;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
  }
  &_buttons {
    width: 100%;
    margin: 50px auto;
  }
  &_head {
    width: 140px;
    height: 60px;
    gap: 8px;
    color: #ffffff;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-color: #141414;
  }
  &_includes {
    height: 27px;
    gap: 0px;
    opacity: 0px;

    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
  }
  &_btn {
    width: 170px;
    height: 60px;
    font-size: 16px;
    border-radius: 12px;
    margin-left: 26px;
    background-color: #703bf7;
    color: #ffffff;

    font-weight: 600;
  }
  &_include {
    width: 143px;
    height: 27px;
  }
  &_score {
    display: flex;
    gap: 20px;
  }
  &_text {
    width: 204px;
    height: 80px;
    padding: 10px;
    font-weight: 500;
    line-height: 12px;
    border-radius: 12px;
    border: 3px solid #262626;
    background: #1a1a1a;

    color: #999999;
  }
  &_number {
    font-weight: 700;
    color: #ffffff;
  }

  &_image {
    width: 882px;
    background-repeat: no-repeat;
    height: 814px;
    background: linear-gradient(238.21deg, #2a213f 8.76%, rgba(25, 25, 25, 0) 50.09%);
  }
}
