@import "./color";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  max-width: 1920px;
  margin: 0 auto;
  background-color: $main-bg;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font-family: "Urbanist";
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  text-align: left;
  color: $main-text-color;
}
