@import '../../sass/color';

.slick{
  &-slider{
    margin-top: 100px;
    padding: 1rem;
    padding: 1em;
  }
  &-list{
    height: 100%;
    width: 100%;
  }
  &-track{
    display: flex;
    gap: 40px;
    height: 100%;
    width: 100%;
  }
  &-arrow{
    position: absolute;
    top: 100%;
    left: 100%;
    border: 1px solid $border-grey;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    z-index: 99;
    &::before {
      content: "";
      display: inline-block;
      background: url("/images/Button.png") no-repeat center / contain;
      width: 58px;
      height: 58px;
      position: relative;
      z-index: 1;
    }
    &.slick-prev,
    &.slick-next {
      top: 110%;
    }
    &.slick-prev {
      left: 87%;
      &::before {
        rotate: -180deg;
      }
    }
    &.slick-next {
      left: 93%;
    }
  }
  &-slide{
    border: 1px solid $border-grey;
    padding: 50px;
    border-radius: 12px;
    div{
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 30px;
      text-align: left;
      p{
        font-size: 17px;
        color: $text-color-grey;
      }
    }
  }
  &__btn{
    button{
      display: inline-block;
      cursor: pointer;
      border: 1px solid $border-grey;
      padding: 18px 24px 18px 24px;
      background-color: $button-background;
      border-radius: 10px;
      color: $main-text-color;
      transition: 0.3s;
      &:hover{
        scale: 1.1;
      }
    }
	}
}