@import "../../../sass/color";

.slider-container {
  .slick-slider {
    position: static;
    margin-block: 80px 50px;

    & .slick-list {
      transform: translateX(-30px);
    }

    & .slick-slide {
      padding-left: 30px;
    }

    button.slick-arrow {
      position: absolute;
      left: 100%;

      border: 1px solid $grey-15;
      border-radius: 50%;
      width: 58px;
      height: 58px;
      padding: 10px;
      z-index: 99;

      &::before {
        content: "";
        display: inline-block;
        background: url("/images/arrow.svg") no-repeat center / contain;
        width: 65%;
        height: 65%;
        position: relative;
        z-index: 1;
      }

      &.slick-prev,
      &.slick-next {
        top: 100%;
      }

      &.slick-prev {
        left: 90%;
        &::before {
          rotate: -180deg;
        }
      }
      &.slick-next {
        left: 95%;
      }
    }
  }
}

.slider {
  &__bottom {
    border-top: 1px solid $grey-15;
    padding-top: 20px;
  }

  &__scrolled-count {
    > b {
      color: $absolute-white;
    }
    > span {
      font-size: 20px;
      color: $grey-60;
    }
  }
}
